<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Reset Email</title>
</head>
<body>
<div class="container">
    <div class="header"> Reset your password for Arise Court!</div>
    <div class="message">
        <p>Hi {{ user.first_name }} {{ user.last_name }},</p>
        <p>We received a request to reset your password for your account at Arise Court.</p>
        <p>To reset your password, please click the link below:.</p>
        <a href="{{ reset_link }}" class="verify-button" target="_blank">
         Verify Email
        </a>


        <p>If you did not request this, you can safely ignore this email.</p>
    </div>
    <div class="footer">
        &copy; Arise Court. All rights reserved.
    </div>
</div>
</body>
</html>
